$ptt-theme-colors: ();
@for $colorlight from 0 through 20 {
  $map: (pttbgc-#{$colorlight}: lighten(#000, $colorlight * 5%));
  $ptt-theme-colors: map-merge($ptt-theme-colors, $map);
}
$ptt-theme-reversecolor: ();
@for $colorlight from 0 through 10 {
  $colorreverse: 10-$colorlight;
  $map: (pttc-#{$colorreverse}: lighten(#000, $colorlight * 10%));
  $ptt-theme-reversecolor: map-merge($ptt-theme-reversecolor, $map);
}

$chat-type: #fff;
$chat-type-n: #f00;
$chat-id: #ff6;
$chat-time: #bbb;
$chat-message: #990;
$chat-text: #f8f9fa;

$black: #000;

$rem1: 10px;

$font-size-base: 12px;

/*$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 500px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1920px
);*/

/*$container-max-widths: (
  sm: 500px,
  md: 720px,
  lg: 960px,
  xl: 1900px,
);*/

#PTTChat {
  * {
    all: revert;
  }
}

// Custom.scss
// Option B: Include parts of Bootstrap

#PTTChat {
  // virtual-scroller
  @import "../node_modules/vue-virtual-scroller/dist/vue-virtual-scroller";

  // Required
  @import "variables";
  @import "node_modules/bootstrap/scss/functions";
  @import "node_modules/bootstrap/scss/variables";
  @import "node_modules/bootstrap/scss/mixins";
  @import "fontsize";
  @import "node_modules/bootstrap/scss/root";
  @import "node_modules/bootstrap/scss/reboot";
  // reboot.scss html
  & {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  // reboot.scss body
  & {
    margin: 0; // 1
    font-family: $font-family-base;
    @include font-size($font-size-base);
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left; // 3
    background-color: $body-bg; // 2
  }
  @import "node_modules/bootstrap/scss/type";
  // @import "node_modules/bootstrap/scss/images";
  // @import "node_modules/bootstrap/scss/code";
  @import "node_modules/bootstrap/scss/grid";
  @import "node_modules/bootstrap/scss/tables";
  @import "node_modules/bootstrap/scss/forms";
  @import "node_modules/bootstrap/scss/buttons";
  @import "node_modules/bootstrap/scss/transitions";
  @import "node_modules/bootstrap/scss/dropdown";
  @import "node_modules/bootstrap/scss/button-group";
  // @import "node_modules/bootstrap/scss/input-group";
  // @import "node_modules/bootstrap/scss/custom-forms";
  @import "node_modules/bootstrap/scss/nav";
  @import "node_modules/bootstrap/scss/navbar";
  @import "node_modules/bootstrap/scss/card";
  // @import "node_modules/bootstrap/scss/breadcrumb";
  // @import "node_modules/bootstrap/scss/pagination";
  // @import "node_modules/bootstrap/scss/badge";
  // @import "node_modules/bootstrap/scss/jumbotron";
  @import "node_modules/bootstrap/scss/alert";
  // @import "node_modules/bootstrap/scss/progress";
  @import "node_modules/bootstrap/scss/media";
  // @import "node_modules/bootstrap/scss/list-group";
  @import "node_modules/bootstrap/scss/close";
  // @import "node_modules/bootstrap/scss/toasts";
  @import "node_modules/bootstrap/scss/modal";
  // @import "node_modules/bootstrap/scss/tooltip";
  // @import "node_modules/bootstrap/scss/popover";
  // @import "node_modules/bootstra/carousep/scssl";
  // @import "node_modules/bootstrap/scss/spinners";
  @import "node_modules/bootstrap/scss/utilities";
  @import "node_modules/bootstrap/scss/print";
  @import "vueanimation";

  table {
    margin: 0; // 1
    font-family: $font-family-base;
    @include font-size($font-size-base);
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left; // 3
    background-color: $body-bg; // 2
  }

  @function darken-color($color, $bgcolor, $warning: false) {
    $darkenpercent: 30%;
    $clightness: lightness($color);
    $bglightness: lightness($bgcolor);
    @if $bglightness > 55% {
      $bglightness: ($bglightness - 100%) * $darkenpercent/100%/100% - 0.5;
    } @else {
      $bglightness: $bglightness * $darkenpercent/100%/100%;
    }
    $darken: $clightness * $bglightness;
    $newcolor: adjust-color($color, $lightness: $darken);
    @if $warning {
      //@warn "#{$color $clightness} , #{$bgcolor $bglightness },#{$darken} -> #{lightness($newcolor)} ";
    }
    @return $newcolor;
  }

  @each $name, $color in $ptt-theme-colors {
    //@warn $name;
    &.#{$name} {
      .ptt-bg {
        background-color: $color;
      }

      .ptt-chat-id {
        color: darken-color($chat-id, $color, true);
      }
      .ptt-chat-time {
        color: darken-color($chat-time, $color);
      }
      .ptt-chat-msg {
        color: darken-color($chat-message, $color) !important;
      }

      .ptt-chat-type {
        color: darken-color($chat-type, $color);
      }
      .ptt-chat-type-n {
        color: darken-color($chat-type-n, $color);
      }
    }
  }

  @each $name, $color in $ptt-theme-reversecolor {
    &.#{$name} {
      .ptt-border {
        border: 1px solid $color !important;
      }
      .ptt-text {
        color: $color !important;
      }
      .ptt-btnoutline {
        color: $color;
        @include button-outline-variant($color);
      }
      .nav-link.active,
      .nav-item.show .nav-link {
        color: $color;
        background-color: $nav-tabs-link-active-bg;
        border-color: $nav-tabs-link-active-border-color;
      }
    }
  }
}

#PTTChat {
  &.position-absolute {
    position: absolute !important;
  }
  .position-absolute {
    position: absolute !important;
  }
  .position-relative {
    position: relative !important;
  }
  &.w-100 {
    width: 100% !important;
  }
}

#PTTChat {
  .ptt-chat {
    font-weight: 500;
  }
  .ptt-chat-msg {
    word-break: break-word;
  }
  hr {
    border-top: 1px solid rgba(128, 128, 128, 0.5) !important;
  }
  .ptt-chat-msg a {
    text-decoration: underline !important;
  }
  // reference: https://codepen.io/svnt/pen/beEgre
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 50%;
    margin-top: -6px;
  }
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  .transition-smooth {
    height: 0;
    overflow: hidden;
    transition: 1s;
  }
  .col-form-label {
    padding-top: 4.75px;
    padding-bottom: 4.75px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
  }
}

// external of id='PTTChat'
#container.position-relative {
  position: relative !important;
}
#pttchatparent.d-flex,
#fakeparent.d-flex {
  display: flex !important;
}
#fakeparent.flex-row {
  flex-direction: row !important;
}
#fakeparent.flex-column {
  flex-direction: column !important;
}
#PTTChat.h-100 {
  height: 100% !important;
}
