$nav-link-padding-y: $rem1 * 0.5;
$nav-link-padding-x: $rem1;
$alert-padding-y: $rem1 * 0.75;
$alert-padding-x: $rem1 * 1.25;
$input-btn-padding-y: $rem1 * 0.375;
$input-btn-padding-x: $rem1 * 0.75;
$custom-select-indicator-padding: $rem1;
$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$custom-select-padding-x: $input-padding-x;
$custom-select-padding-y: $input-padding-y;
$input-btn-padding-y-lg: $rem1 * 0.3;
$input-btn-padding-x-lg: $rem1;
$custom-select-feedback-icon-padding-right: add(
  $rem1 * 0.75,
  (2 * $custom-select-padding-y * 0.75) + $custom-select-padding-x + $custom-select-indicator-padding
);
$spacer: 10px;
$table-cell-padding: $rem1 * 0.75;
$table-cell-padding-sm: $rem1 * 0.3;
$card-spacer-y: $rem1 * 0.75;
$card-spacer-x: $rem1 * 1.25;
$input-btn-focus-width: $rem1 * 0.2;

$border-radius: 2.5px;
$border-radius-lg: 2.5px;
$border-radius-sm: 2.5px;

$line-height-base: 1.5;
$line-height-lg: 1.5;

$input-padding-y-lg: $input-btn-padding-y-lg;
$input-btn-line-height-lg: $line-height-lg;
$input-line-height-lg: $input-btn-line-height-lg;
$input-btn-padding-y-sm: $rem1 * 0.25;
$input-padding-y-sm: $input-btn-padding-y-sm;
$line-height-sm: $font-size-base * 1.5;
$input-btn-line-height-sm: $line-height-sm;
$input-line-height-sm: $input-btn-line-height-sm;
$border-width: 1px;
$input-btn-border-width: $border-width;
$input-border-width: $input-btn-border-width;
$input-height-border: $input-border-width * 2;
$input-btn-line-height: $line-height-base;
$input-line-height: $input-btn-line-height;
$input-height-inner: add($input-line-height * 1, $input-padding-y * 2);
$input-height-inner-half: add($input-line-height * 0.5, $input-padding-y);
$input-height-inner-quarter: add($input-line-height * 0.25, $input-padding-y / 2);
$input-height: add($input-line-height * 1, add($input-padding-y * 2, $input-height-border, false));
$input-height-sm: add($input-line-height-sm * 1, add($input-padding-y-sm * 2, $input-height-border, false));
$input-height-lg: add($input-line-height-lg * 1, add($input-padding-y-lg * 2, $input-height-border, false));
