<div class="form-group my-3">
  <div class="form-row mt-3 mb-2">
    <label class="col-3 col-form-label">{{ description }}</label>
    <div class="col">
      <div class="dropdown">
        <button class="btn ptt-btnoutline dropdown-toggle" type="button" data-toggle="dropdown">
          {{ dropdownPreview ? dropdownPreview : '請選擇...' }}
        </button>
        <ul class="dropdown-menu" role="menu">
          <a href="#" class="dropdown-item" v-for="(item, index) in optionGroup"
            @click.prevent="$_connectAutoLoadPost_onClickDropdownItem(item, index)">
              {{ item }}
                <button class="close" type="button" @click.stop.prevent="$_connectAutoLoadPost_onClickRemoveOption(index)">
                  &times;
                </button>
          </a>
          <li class="dropdown-divider"></li>
          <a href="#" class="dropdown-item" @click.prevent="enableManualInput = true">
            新增其他選項
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="collapse" ref="manualInputArea">
    <div class="form-row">
      <div class="col-3"></div>
      <div class="col" v-on:keyup.13="addAndSearch">
        <input type="text" class="form-control mb-1" v-model="manualBoard" placeholder="看板：">
        <input type="text" class="form-control mt-1" v-model="manualTitle" placeholder="標題：">
      </div>
      <div class="col-2 px-0">
        <button class="btn ptt-btnoutline w-100 px-2" type="button" @click.self="addAndSearch()">新增</button>
      </div>
    </div>
  </div>
  <div class="my-3 collapse" ref="previewArea">
    <div class="form-row">
      <div class="col-3">
        <label class="col-form-label">標題預覽</label>
      </div>
      <div class="col ml-2" style="border:1px solid;">
        <div class="my-2">{{ previewTitle }}</div>
      </div>
    </div>
  </div>
</div>